---
import BlogItem from "./BlogItem.astro"

interface BlogItemType {
  id: string
  slug: string
  body: string
  data: {
    title: string
    description: string
    datetime: string
  }
}

const { blogs } = Astro.props
---

<section class="bg-background py-12">
  <div class="container mx-auto max-w-4xl px-4">
    <h1 class="mb-10 text-center text-3xl text-base">Posts</h1>
    <div class="space-y-6">
      {blogs.map((blog: BlogItemType) => <BlogItem blog={blog} />)}
    </div>
  </div>
</section>
